.footer {
    background-color: #2d3f53;
    flex: 0 0 auto;
}

.footer__item {
    padding: 0 1rem;
}

.footer__link {
    font-size: 1rem;
}

.footer__list {
    margin: 0;
}

.footer__link:hover {
    border-bottom: 1px solid #fff;
}