.drop-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-title {
    text-align: center;
    font-size: 1.2rem;
}

.profile-name {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.right {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.request-container {
    padding: 0 0.5rem;
}

.request {
    padding: 0.8rem 0;
}

.request-name {
    margin-bottom: 0.6rem;
}

.teacher-name {
    margin-bottom: 0.6rem;
}

.success {
    background-color: #dff0d8;
}

.failure {
    background-color: #f2dede;
}

.wait {
    background-color: #f2f1f6;
}

.change {
    background-color: #2d3f53;
}

.form-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.fa-arrow-down {
    cursor: pointer;
}

.fa-arrow-up {
    cursor: pointer;
}

.fa-clock {
    font-size: 2rem;
}

.error {
    color: #e06149;
}

@media screen and (min-width: 992px) {
    #tab a {
        font-size: 0.9rem;
    }
}